* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

p strong {
  text-decoration: bold;
  color: hsl(160deg, 100%, 30%);
}

main {
  padding: 64px 0;
  background: hsl(0deg, 0%, 60%);
  border-top: 8px solid hsl(0deg, 0%, 40%);
}

.intro-chunk {
  max-width: 350px;
  padding: 32px 24px 32px;
  font-size: 1.25rem;
}

.title {
  padding: 32px 0 16px;
  font-size: 2rem;
}

.indented-heading {
  width: fit-content;
  margin: 0;
  margin-left: -32px;
  padding: 16px 32px;
  font-size: 1.5rem;
  background: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}

.max-width-wrapper {
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  padding: 8px 24px;
  background: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 40%);
}
